fastapi==0.124.4
uvicorn==0.38.0
jinja2==3.1.6
python-multipart==0.0.20
yfinance==0.2.66
google-generativeai==0.8.5
python-dotenv==1.2.1
email-validator==2.3.0
google-api-python-client==2.187.0
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
google-cloud-storage==3.7.0
fpdf==1.7.2
alpaca-py==0.43.2
tradingview-ta==3.3.0
tradingview-screener==3.0.0
scipy==1.16.3
beautifulsoup4==4.14.3
requests==2.32.5
finnhub-python==2.4.26
pandas==2.3.3
numpy==2.3.5
pytz==2025.2
google-genai==1.55.0  # Optional/New SDK
